// Bulma Framework
@import "bulma.min";

// Helpers

.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

// Your Styles
html {
  background: white;
}

.givespace {
  margin-top: 40px;
}

.givespace2 {
  margin-top: 40px;
}

.navbar-item, {
  padding: 20px;
}

.logo {
  font-size: 15px;
  font-family: 'Fredoka One', cursive;
  color: white;
}

.headers {
  font-family: 'Fredoka One', cursive;
  font-size: 6rem;
}

.icon {
  margin: 20px;
}

.headerslight {
  font-family: 'Fredoka One', cursive;
  font-size: 6rem;
  color: white;
}

.headerspink {
  font-family: 'Fredoka One', cursive;
  font-size: 6rem;
  color: #ff3860;
}

.subheadpink {
  font-family: 'Comfortaa', cursive;
  color: #ff3860;
}

.subheadwhite {
  font-family: 'Comfortaa', cursive;
  color: white;
}

.bodytext {
  font-family: 'Comfortaa', cursive;
  color: white;
}

.bodytextdark {
  font-family: 'Comfortaa', cursive;
  color: #3B3B3B;
}

.footer {
  background: #3B3B3B;
  margin-top: 50px;
}

// Animations
.hide {
  opacity: 0;
}

.lightspeed {
  animation: lightSpeedIn 1s ease-out forwards;
}

.slideleft {
  animation: slideInLeft 1s ease-out forwards;
}

.slideright {
  animation: slideInRight 1s ease-out forwards;
}

.tada {
  animation: tada 1s ease-out infinite;
}

.tada2 {
  animation: tada 1s ease-out forwards;
}

// Delays

.dl1 {
  animation-delay: 2s;
}

.dl2 {
  animation-delay: 4s;
}

.dl3 {
  animation-delay: 6s;
}

.dl4 {
  animation-delay: 8s;
}

.dl5 {
  animation-delay: 10s;
}

.dl6 {
  animation-delay: 12s;
}

.dl7 {
  animation-delay: 14s;
}

.dl8 {
  animation-delay: 16s;
}

.dl9 {
  animation-delay: 18s;
}

.dl10 {
  animation-delay: 20s;
}

.dl11 {
  animation-delay: 22s;
}

// Homepage
#top {
  background: url(../img/wspic.jpg);
  padding: 200px;
}

#name {
  width: 275px;
  font-family: 'Comfortaa', cursive;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.pi {
  color: white;
  background:#3B3B3B;
  padding-top: 10px;
  animation-delay: 3s;
}

#personal-info {
  background: #3B3B3B;
  padding: 50px 100px 20px 100px;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 1.3rem;
}

.socialmedia {
  margin-top: 50px;
}

.smc {
  color: #ff3860;
}

#spotlight {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
    background: #3B3B3B;
}

.card:hover {
  animation: pulse 0.1s ease-in-out forwards;
}

// About Me
.aboutimages {
  margin-top: 50px;
}

// Resume

.overview {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.skill {
  padding-right: 10%;
  margin-left: 7rem;
}

.education {
  margin-top: 15px;
  font-size: 1.2rem;
  padding-bottom: 100px;
}
.illustrator {
  background: orange;
}

.employment {
  background: #3B3B3B;
}

.employmentsection {
  margin-top: 40px;
}

.emp {
  padding-bottom: 100px;
}

.ewulogo {
  margin-bottom: 10px;
}

.ewulogo:hover {
  animation: pulse 0.1s ease-in-out forwards;
}

.activitiessection {
  margin-top: 40px;
}

// Contact Page
.contactpull {
  margin-bottom: 20px;
  margin-top: -35px;
  font-size: 1.9rem;
}

.contactinfo {
  margin-top: 10px;
  font-size: 1.2rem;
}

.fieldsbkg {
  background: #3B3B3B;
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.dm {
  width: 50%;
  margin-bottom: 10px;
}

.dmb {
  background: #3B3B3B;
  margin-top: 50px;
}

// Keyframes

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  to {
    -webkit-transform: scale3d(1.016, 1.016, 1.016);
    transform: scale3d(1.016, 1.016, 1.016);
  }
}

