{% extends "_layout.njk" %}

{% block content %}

 <section class="hero">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers">
       {{ site.about }}
      </h1>
    </div>
  </div>
</section>

<section class="container center">
  <p class="bodytextdark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.</p>
</section>



{% endblock %}