{% extends "_layout.njk" %}

{% block content %}

 <section class="hero givespace">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers lightspeed">
       {{ site.about }}
      </h1>
    </div>
  </div>
</section>

<section class="container center">
  <p class="bodytextdark slideleft has-text-justified">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium beatae sapiente officia dicta delectus incidunt iste perferendis debitis similique hic, in maxime velit voluptate aut architecto ratione distinctio recusandae.</p>
</section>

<section class="columns aboutimages">
  
  <img class="column image is-one-third card"src="https://bulma.io/images/placeholders/1280x960.png" alt="">
  <img class="column image is-one-third card"src="https://bulma.io/images/placeholders/1280x960.png" alt="">
  <img class="column image is-one-third card"src="https://bulma.io/images/placeholders/1280x960.png" alt="">
  
</section>

{% endblock %}section