{% extends "_layout.njk" %}

{% block content %}

<section class="container center">
  <h1 class="title">Joshua Thomas</h1>
</section>

<section class="container center">
  <h1 class="title">Graphic Designer/Web Designer/UX Designer</h1>
</section>
<main class="columns overview">
  
  <section class="column is-7 content has-text-justified">
    <h1 class="has-text-centered">Overview</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod repellendus ipsum quidem veniam eius dolorum quae rem obcaecati, consectetur qui optio fugiat cumque suscipit neque soluta, aliquid corrupti voluptatum commodi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod repellendus ipsum quidem veniam eius dolorum quae rem obcaecati, consectetur qui optio fugiat cumque suscipit neque soluta, aliquid corrupti voluptatum commodi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod repellendus ipsum quidem veniam eius dolorum quae rem obcaecati, consectetur qui optio fugiat cumque suscipit neque soluta, aliquid corrupti voluptatum commodi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod repellendus ipsum quidem veniam eius dolorum quae rem obcaecati, consectetur qui optio fugiat cumque suscipit neque soluta, aliquid corrupti voluptatum commodi!</p>
  </section>
  
  <section class="skill column is-5">

    <p>Skill</p>
    <progress class="progress is-primary is-medium" value="15" max="100">30%</progress>
     <p>Skill</p>
    <progress class="progress is-primary is-medium" value="60" max="100">60%</progress>
    <p>Skill</p>
    <progress class="progress is-primary is-medium" value="80" max="100">80%</progress>
    <p>Skill</p>
    <progress class="progress is-primary is-medium" value="75" max="100">75%</progress>
    <p>Skill</p>
    <progress class="progress is-primary is-medium" value="35" max="100">35%</progress>
    <p>Skill</p>
    <progress class="progress is-primary is-medium" value="50" max="100">50%</progress>

  </section>

</main>

 <section class="hero left">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title">
       Education
      </h1>
    </div>
  </div>
</section>

<section class="container center">
  <img src="img/eagle.svg" alt="">
</section>

<section class="container center">
  <h1 class="title">
   Eastern Washington University
  </h1>
</section>

<div class="columns center has-text-centered education">

      <ul>
        <li>Bachelor of Arts: Visual Communications Design</li>
        <li>Minor: Business Administration</li>
        <li>Certificates: User Experience</li>
        <li>Graduation: 2019(spring)</li>
      </ul>
    
</div>

 <section class="hero">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title">
       Employement/Internships
      </h1>
    </div>
  </div>
</section>

<div class="content container">
  <div class="columns">
    <h1 class="column is-one-third center">Name</h1>
    <h2 class="column is-one-third center">Location</h2>
    <h2 class="column is-one-third center">Date</h2>
  </div>
  <h3>Name of Position</h3>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  
  <div class="columns">
    <h1 class="column is-one-third center">Name</h1>
    <h2 class="column is-one-third center">Location</h2>
    <h2 class="column is-one-third center">Date</h2>
  </div>
  <h3>Name of Position</h3>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  <div class="columns">
    <h1 class="column is-one-third center">Name</h1>
    <h2 class="column is-one-third center">Location</h2>
    <h2 class="column is-one-third center">Date</h2>
  </div>
  <h3>Name of Position</h3>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  
</div>

 <section class="hero">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title">
       Extracurricular Activities
      </h1>
    </div>
  </div>
</section>

<div class="content container">
  
  <div class="columns">
    <h1 class="column is-half center">Name</h1>
    <h2 class="column is-half center">Date</h2>
  </div>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  
    <div class="columns">
    <h1 class="column is-half center">Name</h1>
    <h2 class="column is-half center">Date</h2>
  </div>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  
    <div class="columns">
    <h1 class="column is-half center">Name</h1>
    <h2 class="column is-half center">Date</h2>
  </div>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  
    <div class="columns">
    <h1 class="column is-half center">Name</h1>
    <h2 class="column is-half center">Date</h2>
  </div>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  
    <div class="columns">
    <h1 class="column is-half center">Name</h1>
    <h2 class="column is-half center">Date</h2>
  </div>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li>Ut non enim metus.</li>
    </ul>
  
</div>


{% endblock %}