{% extends "_layout.njk" %}

{% block content %}

 <section class="hero givespace">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers lightspeed">
       {{ site.webdesign }}
      </h1>
    </div>
  </div>
</section>

    <div id="uigallery" class="columns is-multiline">
  <!-- Card 1 -->    
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">EWU UX Program Site</a></p>
              <p class="subtitle is-6 subheadwhite">Eastern Washington University</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">A more effective UI design that allows for UX students in the program to showcase their work, while also granting more info for perspective students.
            <a href="#" class="subheadpink">#userinterfacedesign</a> <a href="#" class="subheadpink">#userexperience</a></p>
            <br>
            <time datetime="2017-3-1" class="subheadwhite">Mar 2018</time>
          </div>
        </div>
      </div>
   <!-- Card 2 -->       
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">Spokane City Guide</a></p>
              <p class="subtitle is-6 subheadwhite">Eastern Washington University</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">A city guide that sheds new light on the fair city of Spokane.
            <a href="#" class="subheadpink">#graphicdesign</a> <a href="#" class="subheadpink">#thecityyoulovetohate</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">April 2018</time>
          </div>
        </div>
      </div>
  <!-- Card 3 -->        
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">John Smith</a></p>
              <p class="subtitle is-6 subheadwhite">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a class="subheadpink">@bulmaio</a>.
            <a href="#" class="subheadpink">#css</a> <a href="#" class="subheadpink">#responsive</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>

  <!-- Card 3 -->        
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">John Smith</a></p>
              <p class="subtitle is-6 subheadwhite">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a class="subheadpink">@bulmaio</a>.
            <a href="#" class="subheadpink">#css</a> <a href="#" class="subheadpink">#responsive</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>  


{% endblock %}