   <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
          <div class="navbar-burger burger has-dropdown is-hoverable" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item logo" href="index.html">
              JT
            </a>
            <a class="navbar-item" href="/about/">
              About Me
            </a>
            <a class="navbar-item" href="/resume/">
              Resume
              </a>
            <div class="navbar-item dropdown is-hoverable">
              <a class="navbar-link" href="index.html">
                Portfolio
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/user-experience/">
                  UX/UI
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/web-design/">
                  Web Design
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/graphic-design/">
                  Graphic Design
                </a>
              </div>
            </div>
            <a class="navbar-item" href="contact.html">
              Contact
              </a>
          </div>

          <div class="navbar-end">
          </div>
        </div>
      </nav>    