<!-- Site Meta Data via Nunjucks -->
   

<!DOCTYPE html>

<html class="has-navbar-fixed-top">
  
  <!-- RWD -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- iOS MetaTags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="SketchGo">

    <!-- Web App Manfiest -->
    <meta name="theme-color" content="red">
    <link rel="stylesheet" href="manifest.json">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <!--  This Site/App -->
    <title>Web 3 Starter</title>
    <link rel="stylesheet" href="css/styles.processed.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One" rel="stylesheet">
    
  
  <body>
    
       <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
          <div class="navbar-burger burger has-dropdown is-hoverable" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item logo" href="index.html">
              JT
            </a>
            <a class="navbar-item" href="/about/">
              About Me
            </a>
            <a class="navbar-item" href="/resume/">
              Resume
              </a>
            <div class="navbar-item dropdown is-hoverable">
              <a class="navbar-link" href="index.html">
                Portfolio
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/ux/">
                  UX/UI
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/webdesign/">
                  Web Design
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/graphicdesign/">
                  Graphic Design
                </a>
              </div>
            </div>
            <a class="navbar-item" href="contact.html">
              Contact
              </a>
          </div>

          <div class="navbar-end">
          </div>
        </div>
      </nav>    
    
    

 <section class="hero givespace">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers lightspeed">
       About Me
      </h1>
    </div>
  </div>
</section>

<section class="container center">
  <p class="bodytextdark slideleft has-text-justified">{{ content }}</p>
</section>

<section class="columns aboutimages">
  
  <img class="column image is-one-third card"src="https://bulma.io/images/placeholders/1280x960.png" alt="">
  <img class="column image is-one-third card"src="https://bulma.io/images/placeholders/1280x960.png" alt="">
  <img class="column image is-one-third card"src="https://bulma.io/images/placeholders/1280x960.png" alt="">
  
</section>


    
    
   <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p class="bodytext">
            <strong>Bulma</strong> by <a href="https://jgthms.com" class="subheadpink">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php" class="subheadpink">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="subheadpink">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </div>
    </footer>
 

      <script src="js/scripts.js"></script>

    
  </body>
  
</html>