<!-- Site Meta Data via Nunjucks -->
   

<!DOCTYPE html>

<html class="has-navbar-fixed-top">
  
  <!-- RWD -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- iOS MetaTags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="SketchGo">

    <!-- Web App Manfiest -->
    <meta name="theme-color" content="red">
    <link rel="stylesheet" href="manifest.json">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <!--  This Site/App -->
    <title>Web 3 Starter</title>
    <link rel="stylesheet" href="../css/styles.processed.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One" rel="stylesheet">
    
  
  <body>
    
       <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
          <div class="navbar-burger burger has-dropdown is-hoverable" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item logo" href="http://www.joshuat.online">
              JT
            </a>
            <a class="navbar-item" href="/about/">
              About Me
            </a>
            <a class="navbar-item" href="/resume/">
              Resume
              </a>
            <div class="navbar-item dropdown is-hoverable">
              <a class="navbar-link" href="http://www.joshuat.online">
                Portfolio
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/portfolio/ux/">
                  UX/UI
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/portfolio/webdesign/">
                  Web Design
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/portfolio/graphicdesign/">
                  Graphic Design
                </a>
              </div>
            </div>
            <a class="navbar-item" href="/contact/">
              Contact
              </a>
          </div>

          <div class="navbar-end">
          </div>
        </div>
      </nav>    
    
    

 <section class="hero givespace">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers lightspeed">
       Contact Me
      </h1>
    </div>
  </div>
</section>

<section class="container center">
  <p class="subtitle has-text-centered subheadpink contactpull slideleft hide dl1">Call, text, send an email, beep, write a letter, or even send a message via horse drawn carriage. Whatever your method, here's the info you'll need to get a hold of me.</p>
</section>

<section class="container center has-text-centered">
      <ul class="column bodytextdark contactinfo">
        <li class="tada2 dl2"><strong>Phone Number:</strong> {{ page.phone-number }}</li>
        <li class="tada2 dl3"><strong>Email:</strong> {{ page.email }}</li>
        <li class="tada2 dl4"><strong>Address:</strong> {{ page.address}}</li>
      </ul>
</section>

 <section class="hero dmb">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headerslight slideright">
       Direct Message Me
      </h1>
    </div>
  </div>
</section>

<main class="fieldsbkg">
  
  <section class="container dm slideleft">

    <div class="field">
      <label class="label subheadpink">Name</label>
      <div class="control">
        <input class="input bodytextdark" type="text" placeholder="e.g. Joe Mama">
      </div>
    </div>

    <div class="field">
      <label class="label subheadpink">Email</label>
      <p class="control">
        <input class="input bodytextdark" type="email" placeholder="e.g. joemama34@gmail.com">
      </p>
    </div>

    <div class="field">
      <div class="label">
        <label class="label subheadpink">Message</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea class="textarea bodytextdark" placeholder="e.g. My name is Joe, I think your work is awesome! Let's work together."></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="control center">
      <a href="https://twitter.com/messages/compose?recipient_id=1272414140&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-size="large" data-show-screen-name="false" data-screen-name="@jthomas0223" data-show-count="false"><button class="button is-danger is-rounded is-medium subheadwhite"><strong>Submit</strong></button></a>
    </div>

  </section>
</main>

    
    
   <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p class="bodytext">
            <strong class="bodytext">Lejit</strong> by <a href="http://www.joshuat.online" class="subheadpink">Joshua Thomas</a>. 
          </p>
        </div>
      </div>
    </footer>
 

      <script src="js/scripts.js"></script>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
  </body>
  
</html>