<!-- Site Meta Data via Nunjucks -->
   

<!DOCTYPE html>

<html class="has-navbar-fixed-top">
  
  <!-- RWD -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- iOS MetaTags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="SketchGo">

    <!-- Web App Manfiest -->
    <meta name="theme-color" content="red">
    <link rel="stylesheet" href="manifest.json">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <!--  This Site/App -->
    <title>Web 3 Starter</title>
    <link rel="stylesheet" href="../css/styles.processed.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One" rel="stylesheet">
    
  
  <body>
    
       <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
          <div class="navbar-burger burger has-dropdown is-hoverable" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item logo" href="http://www.joshuat.online">
              JT
            </a>
            <a class="navbar-item" href="/about/">
              About Me
            </a>
            <a class="navbar-item" href="/resume/">
              Resume
              </a>
            <div class="navbar-item dropdown is-hoverable">
              <a class="navbar-link" href="http://www.joshuat.online">
                Portfolio
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/portfolio/ux/">
                  UX/UI
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/portfolio/webdesign/">
                  Web Design
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/portfolio/graphicdesign/">
                  Graphic Design
                </a>
              </div>
            </div>
            <a class="navbar-item" href="/contact/">
              Contact
              </a>
          </div>

          <div class="navbar-end">
          </div>
        </div>
      </nav>    
    
    

<section class="container center givespace2">
  <h1 class="title headers slideleft">Joshua Thomas</h1>
</section>

<section class="container center">
  <h1 class="title subheadpink slideright">Graphic Designer/Web Designer/UX Designer</h1>
</section>
<main class="columns overview">
  
  <section class="column is-7 content has-text-justified">
    <h1 class="has-text-centered bodytextdark tada">Overview</h1>
    <div class="bodytextdark slideleft">{{ content }}</div>
  </section>
  
  <section class="skill column is-5">

    <p class="slideright">Adobe Illustrator</p>
    <progress class="progress is-danger is-medium slideright" value="15" max="100">30%</progress>
     <p class="slideleft">Adobe Photoshop</p>
    <progress class="progress is-danger is-medium slideleft" value="60" max="100">60%</progress>
    <p class="slideright">Adobe InDesign</p>
    <progress class="progress is-danger is-medium slideright" value="80" max="100">80%</progress>
    <p class="slideleft">HTML</p>
    <progress class="progress is-danger is-medium slideleft" value="75" max="100">75%</progress>
    <p class="slideright">CSS</p>
    <progress class="progress is-danger is-medium slideright" value="35" max="100">35%</progress>
    <p class="slideleft">Javascript</p>
    <progress class="progress is-danger is-medium slideleft" value="50" max="100">50%</progress>
    <p class="slideright">User Experience</p>
    <progress class="progress is-danger is-medium slideright" value="35" max="100">35%</progress>
    <p class="slideleft">Microsoft Office Suite</p>
    <progress class="progress is-danger is-medium slideleft" value="50" max="100">50%</progress>
  </section>

</main>

 <section class="hero left">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers hide slideleft dl2">
       Education
      </h1>
    </div>
  </div>
</section>

<section class="container center">
  <img class="ewulogo" src="../img/eagle.svg" alt="">
</section>

<section class="container center">
  <h1 class="title bodytextdark">
   Eastern Washington University
  </h1>
</section>

<div class="columns center has-text-centered education">

      <ul class="bodytextdark hide slideright dl3">
        <li><strong class="subheadpink">Bachelor of Arts:</strong> {{ page.ba }}</li>
        <li><strong class="subheadpink">Minor:</strong> {{ page.minor}}</li>
        <li><strong class="subheadpink">Certificates:</strong> {{ page.certificates}}</li>
        <li><strong class="subheadpink">Graduation:</strong> {{ page.graduation }}</li>
      </ul>
    
</div>

 <section class="hero employment">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headerslight hide slideright dl4">
       Employement/Internships
      </h1>
    </div>
  </div>
</section>

<div class="employment emp">
  <div class="container">
    <div class="columns hide slideleft dl4">
      <h1 class="column is-one-third center title subheadpink">{{ page.deca.name }}</h1>
      <h2 class="column is-one-third center title subheadpink">{{ resume.deca.location }}</h2>
      <h2 class="column is-one-third center title subheadpink">Date</h2>
    </div>
    <h3 class="subtitle subheadwhite slideright hide dl4">Name of Position</h3>
      <div class="bodytext slideright hide dl4"> {{ page.deca.description }}</div>
      <ul class="subheadpink employmentlist slideleft hide dl5">
        <li>- {{ page.deca.responsibility1 }}</li>
        <li>- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
        <li>- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
        <li>- Ut non enim metus.</li>
      </ul>

    <div class="columns employmentsection slideright hide dl6">
      <h1 class="column is-one-third center title subheadpink">Name</h1>
      <h2 class="column is-one-third center title subheadpink">Location</h2>
      <h2 class="column is-one-third center title subheadpink">Date</h2>
    </div>
    <h3 class="subtitle subheadwhite slideleft hide dl6">Name of Position</h3>
      <p class="bodytext slideleft hide dl6">Curabitur accumsan turpis pharetra augue tincidunt blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
      <ul class="subheadpink employmentlist slideright hide dl7">
        <li>- In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
        <li>- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
        <li>- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
        <li>- Ut non enim metus.</li>
      </ul>
    
    <div class="columns employmentsection slideleft hide dl8">
      <h1 class="column is-one-third center title subheadpink">Name</h1>
      <h2 class="column is-one-third center title subheadpink">Location</h2>
      <h2 class="column is-one-third center title subheadpink">Date</h2>
    </div>
    <h3 class="subtitle subheadwhite slideright hide dl9">Name of Position</h3>
      <p class="bodytext slideright hide dl9">Curabitur accumsan turpis pharetra augue tincidunt blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
      <ul class="subheadpink employmentlist slideleft hide dl10">
        <li>- In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
        <li>- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
        <li>- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
        <li>- Ut non enim metus.</li>
      </ul>

  </div>
</div>
 <section class="hero">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers slideleft hide dl11">
       Extracurricular Activities
      </h1>
    </div>
  </div>
</section>

<div class="container">
  
  <div class="columns activitiessection">
    <h1 class="column is-half center subheadpink title">Name</h1>
    <h2 class="column is-half center subheadpink subtitle">Date</h2>
  </div>
    <p class="bodytextdark">Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li class="subheadpink">- In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li class="subheadpink">- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li class="subheadpink">- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li class="subheadpink">- Ut non enim metus.</li>
    </ul>
  
     <div class="columns activitiessection">
    <h1 class="column is-half center subheadpink title">Name</h1>
    <h2 class="column is-half center subheadpink subtitle">Date</h2>
  </div>
    <p class="bodytextdark">Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li class="subheadpink">- In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li class="subheadpink">- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li class="subheadpink">- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li class="subheadpink">- Ut non enim metus.</li>
    </ul>
  
    <div class="columns activitiessection">
    <h1 class="column is-half center subheadpink title">Name</h1>
    <h2 class="column is-half center subheadpink subtitle">Date</h2>
  </div>
    <p class="bodytextdark">Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li class="subheadpink">- In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li class="subheadpink">- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li class="subheadpink">- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li class="subheadpink">- Ut non enim metus.</li>
    </ul>
  
    <div class="columns activitiessection">
    <h1 class="column is-half center subheadpink title">Name</h1>
    <h2 class="column is-half center subheadpink subtitle">Date</h2>
  </div>
    <p class="bodytextdark">Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li class="subheadpink">- In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li class="subheadpink">- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li class="subheadpink">- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li class="subheadpink">- Ut non enim metus.</li>
    </ul>
  
    <div class="columns activitiessection">
    <h1 class="column is-half center subheadpink title">Name</h1>
    <h2 class="column is-half center subheadpink subtitle">Date</h2>
  </div>
    <p class="bodytextdark">Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
      <li class="subheadpink">- In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
      <li class="subheadpink">- Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      <li class="subheadpink">- Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
      <li class="subheadpink">- Ut non enim metus.</li>
    </ul>
  
</div>



    
    
   <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p class="bodytext">
            <strong>Bulma</strong> by <a href="https://jgthms.com" class="subheadpink">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php" class="subheadpink">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="subheadpink">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </div>
    </footer>
 

      <script src="js/scripts.js"></script>

    
  </body>
  
</html>