<!-- Site Meta Data via Nunjucks -->
   

<!DOCTYPE html>

<html class="has-navbar-fixed-top">
  
  <!-- RWD -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- iOS MetaTags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="SketchGo">

    <!-- Web App Manfiest -->
    <meta name="theme-color" content="red">
    <link rel="stylesheet" href="manifest.json">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <!--  This Site/App -->
    <title>Web 3 Starter</title>
    <link rel="stylesheet" href="../css/styles.processed.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One" rel="stylesheet">
    
  
  <body>
    
       <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
          <div class="navbar-burger burger has-dropdown is-hoverable" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item logo" href="index.html">
              JT
            </a>
            <a class="navbar-item" href="/about/">
              About Me
            </a>
            <a class="navbar-item" href="/resume/">
              Resume
              </a>
            <div class="navbar-item dropdown is-hoverable">
              <a class="navbar-link" href="index.html">
                Portfolio
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/ux/">
                  UX/UI
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/webdesign/">
                  Web Design
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/graphicdesign/">
                  Graphic Design
                </a>
              </div>
            </div>
            <a class="navbar-item" href="contact.html">
              Contact
              </a>
          </div>

          <div class="navbar-end">
          </div>
        </div>
      </nav>    
    
    

 <section class="hero givespace">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers lightspeed">
       Web Design
      </h1>
    </div>
  </div>
</section>

    <div id="uigallery" class="columns is-multiline">
  <!-- Card 1 -->    
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">EWU UX Program Site</a></p>
              <p class="subtitle is-6 subheadwhite">Eastern Washington University</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">A more effective UI design that allows for UX students in the program to showcase their work, while also granting more info for perspective students.
            <a href="#" class="subheadpink">#userinterfacedesign</a> <a href="#" class="subheadpink">#userexperience</a></p>
            <br>
            <time datetime="2017-3-1" class="subheadwhite">Mar 2018</time>
          </div>
        </div>
      </div>
   <!-- Card 2 -->       
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">Spokane City Guide</a></p>
              <p class="subtitle is-6 subheadwhite">Eastern Washington University</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">A city guide that sheds new light on the fair city of Spokane.
            <a href="#" class="subheadpink">#graphicdesign</a> <a href="#" class="subheadpink">#thecityyoulovetohate</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">April 2018</time>
          </div>
        </div>
      </div>
  <!-- Card 3 -->        
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">John Smith</a></p>
              <p class="subtitle is-6 subheadwhite">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a class="subheadpink">@bulmaio</a>.
            <a href="#" class="subheadpink">#css</a> <a href="#" class="subheadpink">#responsive</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>

  <!-- Card 3 -->        
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a class="title is-4 headerspink">John Smith</a></p>
              <p class="subtitle is-6 subheadwhite">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a class="subheadpink">@bulmaio</a>.
            <a href="#" class="subheadpink">#css</a> <a href="#" class="subheadpink">#responsive</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>  



    
    
   <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p class="bodytext">
            <strong>Bulma</strong> by <a href="https://jgthms.com" class="subheadpink">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php" class="subheadpink">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="subheadpink">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </div>
    </footer>
 

      <script src="js/scripts.js"></script>

    
  </body>
  
</html>