<!-- Site Meta Data via Nunjucks -->
   

<!DOCTYPE html>

<html class="has-navbar-fixed-top">
  
  <!-- RWD -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- iOS MetaTags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="SketchGo">

    <!-- Web App Manfiest -->
    <meta name="theme-color" content="red">
    <link rel="stylesheet" href="manifest.json">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <!--  This Site/App -->
    <title>LeJIT Designs</title>
    <link rel="stylesheet" href="../../css/styles.processed.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Fredoka+One" rel="stylesheet">
    
  
  <body>
    
       <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
          <div class="navbar-burger burger has-dropdown is-hoverable" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item logo" href="http://www.joshuat.online">
              JT
            </a>
            <a class="navbar-item" href="/about/">
              About Me
            </a>
            <a class="navbar-item" href="/resume/">
              Resume
              </a>
            <div class="navbar-item dropdown is-hoverable">
              <a class="navbar-link" href="http://www.joshuat.online">
                Portfolio
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/portfolio/ux/">
                  UX/UI
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/portfolio/webdesign/">
                  Web Design
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/portfolio/graphicdesign/">
                  Graphic Design
                </a>
              </div>
            </div>
            <a class="navbar-item" href="/contact/">
              Contact
              </a>
          </div>

          <div class="navbar-end">
          </div>
        </div>
      </nav>    
    
    

 <section class="hero givespace">
  <div class="hero-body">
    <div class="container center">
      <h1 class="title headers lightspeed">
       Web Design
      </h1>
    </div>
  </div>
</section>

    <div id="uigallery" class="columns is-multiline">
  <!-- Card 1 -->    
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ page.mgimage }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ page.mgimage }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a href="https://jthom0223.github.io/mariogoogledoodle/" target="_blank" class="title is-4 headerspink">{{ page.mgname }}</a></p>
              <p class="subtitle is-6 subheadwhite">{{ page.mgclient }}</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">{{ page.mgdescription }}
            <a href="#" class="subheadpink">#webdesign</a> <a href="#" class="subheadpink">#googledoodle</a></p>
            <br>
            <time datetime="2017-3-1" class="subheadwhite">{{ page.mgdate }}</time>
          </div>
        </div>
      </div>
   <!-- Card 2 -->       
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ page.ahimage }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ page.ahimage }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a href="https://jthom0223.github.io/apple-homepod/" target="_blank" class="title is-4 headerspink">{{ page.ahname }}</a></p>
              <p class="subtitle is-6 subheadwhite">{{ page.ahclient }}</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">{{ page.ahdescription }}
            <a href="#" class="subheadpink">#applehomepod</a> <a href="#" class="subheadpink">#sirisha</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">{{ page.ahdate }}</time>
          </div>
        </div>
      </div>
  <!-- Card 3 -->        
      <div class="card column is-one-third">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ page.stimage }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ page.stimage }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p><a href="https://jthom0223.github.io/starwarsepisodeiii/" target="_blank" class="title is-4 headerspink">{{ page.stname }}</a></p>
              <p class="subtitle is-6 subheadwhite">{{ page.stclient }}</p>
            </div>
          </div>

          <div class="content">
            <p class="bodytext">{{ page.stdescription }} <a class="subheadpink">#episodeiii</a>.
            <a href="#" class="subheadpink">#starwars</a> <a href="#" class="subheadpink">#webdesign</a></p>
            <br>
            <time datetime="2016-1-1" class="subheadwhite">{{ page.stdate }}</time>
          </div>
        </div>
      </div>
    </div>  



    
    
   <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p class="bodytext">
            <strong class="bodytext">Lejit</strong> by <a href="http://www.joshuat.online" class="subheadpink">Joshua Thomas</a>. 
          </p>
        </div>
      </div>
    </footer>
 

      <script src="js/scripts.js"></script>

    
  </body>
  
</html>
